<p>Edit user</p>

<% @user.errors.each do |error| %>
  <p><%= error.full_message %></p>
<% end %>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username, "Your username here:" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email, "email:" %>
    <%= form.email_field :email, placeholder: "example@email.com" %>
  </div>

  <div>
    <%= form.label :password, "Enter password:" %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit %>
<% end %>